# Introducing The Table for Scientific Python: The DataFrame

A series is a flexible tool for managing a single distribution with an index. The index can be either the default sequence of numbers starting from zero, or it can be a list of labels. If we have two Series, each with the same index, we can combine them together. This will create a DataFrame. Depending on the nature of the research we will either be building a DataFrame by merging together series one by one or we will import a DataFrame from another context, be it a text file, a webpage or some other file format. In this section, we will be building small DataFrames from scratch in order to demonstrate their features and highlight the similarities and differences to these operations when done on a Series. In the next chapter we will show how to create a DataFrame from existing file formats.

## From a Series to a DataFrame

A DataFrame with one column of data looks very similar to a Series. However, the DataFrame comes with some extra features. Not the least of which is that when you ```display()``` a DataFrame, you get a nice looking HTML-formatted table. Observe the difference below:

In [2]:
import pandas as pd 

ser1 = pd.Series({"Kermit":"Frog", "Fozzie":"Bear", "Janice":"Hippy"})

display(ser1)

df1 = pd.DataFrame(ser1)

display(df1)

Kermit     Frog
Fozzie     Bear
Janice    Hippy
dtype: object

            0
Kermit   Frog
Fozzie   Bear
Janice  Hippy

Notice that the output from the second display command had the words 'Kermit', 'Fozzie', and 'Janice' in bold, with some text shading. This is a feature of Jupyter that means we can view DataFrames as rich tables. This will be very useful when we have large and complex tables. Viewing them in monospace text like what we do with the Series makes it harder to read. 

You might also notice that above 'frog' in the table is the number $0$. This is just the index of that column since we did not name the column. In our case we have two options. We could have named the Series, which will propagate the name to the DataFrame, or we can just name the columns in the DataFrame. Observe the same code, but this time we will name the Series first. Then below that we will change the name of the DataFrame column to something else:

In [3]:
ser1 = pd.Series({"Kermit":"Frog", "Fozzie":"Bear", "Janice":"Hippy"}, name="MuppetType")

df1 = pd.DataFrame(ser1)

display(df1)

df1.columns = ["NewColumnName"]

display(df1)

       MuppetType
Kermit       Frog
Fozzie       Bear
Janice      Hippy

       NewColumnName
Kermit          Frog
Fozzie          Bear
Janice         Hippy

# Getting Data in to a DataFrames 

Up to this point we have only seen DataFrames that look like nicely formatted Series. However, it is important for us to be able to compare multiple columns of data. To get these multiple columns of data, here are a few approaches:

1. From a list of lists (or equivalently, an Array),
2. From a dictionary where the keys are indices and the values are lists of data,
3. By adding a new series to an existing DataFrame . 

These different ways of building DataFrames will form the basis of a great deal of your work in data science. As you will see later, data comes in a variety of formats, but we need to transform the data into a consistent and workable format for analysis. Thus, getting this data into a DataFrame will be of central importance. Although there are many possible ways to create a DataFrame, they essentially are variants on these three: from a list of lists, from an existing DataFrame/Series, from a Dictionary. 

For the uninitiated, you might wonder what is the advantage of doing this over just typing in data in Excel or a similar spreadsheet program? Returning to the discussion in Chapter 1 about fixed versus marginal costs, it will become evident through working with data that while spreadsheets have a very low fixed cost (since you just load them up and start typing in data), they have a very high marginal cost, since every operation and new data point can involve lots of clicking, saving, and typing. We want to avoid marginal costs (where each new row or line of data takes up our time) so that we can more effectively scale from three or four rows up to three or four thousand (or million) rows. 

To create these multi-column DataFrames we will continue to use information about some of the Muppets we have already mentioned. This time, in addition to the 'type of muppet', we will add a column about their first apperance as well as well as their gender.

## From a List of Lists
The way to create this data depends largely on how the data was initially formatted. For example, in a list of lists, it might look something like this:

In [17]:

muppetList = [["Kermit","Frog",1955,"Male"], 
              ["Miss Piggy", "Pig", 1974, "Female"], 
              ["Gonzo", "Unknown", 1970, "Male"]]

muppetFrame1 = pd.DataFrame(muppetList)
display(muppetFrame1)

            0        1     2       3
0      Kermit     Frog  1955    Male
1  Miss Piggy      Pig  1974  Female
2       Gonzo  Unknown  1970    Male

As a barebones DataFrame this is okay, but we are missing the columns and labelled row indices. The column names were not in the original list so we should just add those like we did above. But what about setting the first row (the Muppet name) as the index? There are a number of ways to do this. Here I use ```DataFrame.set_index()``` to make one of the existing columns the index. Observe:

In [18]:
muppetFrame1.set_index(0, inplace=True)
display(muppetFrame1)

                  1     2       3
0
Kermit         Frog  1955    Male
Miss Piggy      Pig  1974  Female
Gonzo       Unknown  1970    Male

Notice the $0$ above 'Kermit'? That's because the index itself can have a name. In this case the column was named $0$ so that's now our index name. Index names can be useful if you have complex nested data. For example, in Chapter xx on time series, we will see how to create an index by both the month and the year, so you can query and slice data by either of these in the same DataFrame.

So the MuppetType data was in a dictionary, then a Series, then a DataFrame. Can we skip a step and just add data to the DataFrame directly? Sometimes. There are some collection types that can be created as a DataFrame. A dictionary is one of them. However, it does not work the way a Series does. Instead you need to create a DataFrame using the ```from_dict()``` method. Observe:

In [22]:
df1 = pd.DataFrame.from_dict({"Kermit":"Frog", "Fozzie":"Bear", "Janice":"Hippy"},orient="index",columns=["MuppetType"])

display(df1)

       MuppetType
Kermit       Frog
Fozzie       Bear
Janice      Hippy

In [10]:
df1 = pd.DataFrame.from_dict({"Kermit":["Frog"], "Fozzie":["Bear"], "Janice":["Hippy"]},orient="columns")#,columns=["MuppetType"])

display(df1)

  Kermit Fozzie Janice
0   Frog   Bear  Hippy

## From a dictionary 

As noted above, to make a DataFrame from a dictionary requires you to have it structured like ```{KEY: [VALUES,..]}```. If you have just ```{KEY:SINGLE_VALUE}``` as your dictionary structure, you're better off making it a Series. Observe below how we create a Dictionay and then a DataFrame from that Dictionary:

In [23]:
muppetDict = {"Kermit": ["Frog",1955,"Male"], 
              "Miss Piggy":["Pig", 1974, "Female"], 
              "Gonzo": ["Unknown", 1970, "Male"]}

muppetFrame2 = pd.DataFrame.from_dict(muppetDict,orient="index")
display(muppetFrame2)

                  0     1       2
Kermit         Frog  1955    Male
Miss Piggy      Pig  1974  Female
Gonzo       Unknown  1970    Male

Notice that we used the ```from_dict()``` method instead of simply creating an instance using ```pd.DataFrame()```.

One new argument here is ```orient="index"```. This means that the keys of the dictionary are going to be the indices for the rows. Otherwise, the dictionary would be treated in the other direction. You can try yourself to do it by using ```muppetFrame2 = pd.DataFrame(muppetDict)```. You'll notice that it makes Kermit, Piggy, and Gonzo as the columns. Sometimes this is the behaviour we want, but not here. Remember: rows in cases and variables in columns.

## By Adding a New Series to an existing DataFrame

It is very common to attach new data to a DataFrame. You might be recoding a variable, getting some new calculation or just parsing the text that is already there. For example, since we have the year of the muppet's first appearance, we could create a new column for 'decade of first appearance' by doing some calculation on that year value. 

To note, if we want to link two DataFrames together, this is slightly more tricky and will be covered later in the section on merging in Chapter 6xx. For now we are just adding a single column or a single row to an existing DataFrame. To illustrate this, we will start with the simple DataFrame that has the Muppet name as the index and the type of character as a single column. Then we will add 'year of first appearance' first and calcuate 'decade of first appearance' second.

In [66]:
muppetFrame3 = pd.DataFrame.from_dict({"Kermit":"Frog", "Miss Piggy":"Pig", "Gonzo":"Unknown"},orient="index",columns=["MuppetType"])

muppet_year = pd.Series({"Gonzo":1970,"Kermit":1955,"Miss Piggy":1974})

muppetFrame3["MuppetYear"] = muppet_year

display(muppetFrame3)

           MuppetType  MuppetYear
Kermit           Frog        1955
Miss Piggy        Pig        1974
Gonzo         Unknown        1970

One of the nice things about ensuring that cases are in the rows and variables in the columns is that it makes it easy to add new variables. Also, Pandas can be pretty clever about linking the data. Notice above that we had a dictionary with Gonzo first, but the DataFrame had Kermit first? Since ```Gonzo``` was the index for both the existing DataFrame and the new Series, when they were merged the program was able to link the data together. In this case, we can think of Gonzo's name as the _key_ that links the data. Series and dictionaries have keys, but lists do not. So if you add a list to a DataFrame then it will just get added in the order that's in the list. Observe:

In [67]:
muppet_gender = ["male","female","male"]

muppetFrame3["MuppetGender"] = muppet_gender

display(muppetFrame3)

           MuppetType  MuppetYear MuppetGender
Kermit           Frog        1955         male
Miss Piggy        Pig        1974       female
Gonzo         Unknown        1970         male

Now we can start to see a pattern here of ```DataFrame[COLNAME] = column_of_data```. Let's use this to create a column from the data that is already in the DataFrame. We will take the year value, round it down to the nearest 10 years and call it ```muppet_decade```. To do this, we will use the ```map``` and ```lambda``` features that we had introduced with a series. This is because we will first query ```MuppetYear``` _as a series_, transform the series, and reinsert it into the data. Follow the code carefullly since this will all be done in one line. Observe:

In [68]:
muppetFrame3["MuppetDecade"] = muppetFrame3["MuppetYear"].map(lambda x: (x // 10)*10)

display(muppetFrame3)

muppetdf = muppetFrame3

           MuppetType  MuppetYear MuppetGender  MuppetDecade
Kermit           Frog        1955         male          1950
Miss Piggy        Pig        1974       female          1970
Gonzo         Unknown        1970         male          1970

There are a number of ways to get an integer to round down to the nearest 10. In the way above I used 'integer division' which is division that gives a remainder rather than a precise decimal format. Then I just multiplied that by ten. So in effect, I simply removed the remainder of dividing by 10 from the year to get the decade.

# Returning Data from a DataFrame: Querying and Slicing

## Returning a single row or column
To return an entire DataFrame you simply invoke its name. In our examples, ```muppetFrame3``` will return the entire DataFrame. To get a column in the data, it is like querying a list or a dictionary: you use the square ```[``` and ```]``` brackets. So if your DataFrame has a column "MuppetType", then the syntax ```muppetFrame3["MuppetType"]``` will return the respective column as a series. 

It turns out the reason this works is because querying by column is the default _indexer_ for a DataFrame. When you use ```DataFrame[*]``` you are using an indexer, as opposed to using ```DataFrame(*)```, which is a method. 

There are different kidns of indexers for DataFrames to accomplish different goals. Two in particular are worth considering here. These are the indexers that will return a row instead of a column. Recall that each row will have both a label and a position in terms of being first, second, etc... Accordingly, one of the indexers will index by row label and the other by row position. 

- ```.loc[]``` returns a row based on the label of the row in the index. By default, the index is simply a list of sequential numbers, but that is merely the default. It could be anything. In our example it is the name of the Muppet. Thus,  ```muppetFrame3.loc["Gonzo"]``` should return the row labelled Gonzo in the index.  
- ```.iloc[]``` returns a row based on the position of the row in the sequence of rows in the DataFrame. Since Gonzo is in position 2 (as Python indexs from 0), muppetFrame3.iloc[2] should return the Gonzo row. 
- *Tip*: The indexer starts with ```l``` for label and starts with ```i``` for index.

In [38]:
print(muppetdf.loc["Gonzo"])

MuppetType      Unknown
MuppetYear         1970
MuppetGender       male
MuppetDecade       1970
Name: Gonzo, dtype: object

In [51]:
print(muppetdf.iloc[2])

MuppetType      Unknown
MuppetYear         1970
MuppetGender       male
MuppetDecade       1970
Name: Gonzo, dtype: object

## Returning multiple rows

You can return multiple rows at once. This is handy when you want to filter and merge data. As a motivating example, imagine that you download data from _reddit_ and insert it into a table. It will have a ton of extraneous columns. The data you want to study might be a small subset of what is available. Asking for the columns you want and building your dataset from there is a prudent way to keep focused on a research question. 

To ask for multiple columns, you must ask for them as a collection _inside_ the indexer. This means it typically looks like square brackets inside square brackets. For example, asking for ```MuppetYear``` and ```MuppetType``` in the same query would be as ```muppetdf[ ["MuppetYear","MuppetType"]]```. Whatever order you ask for them is the order they will be in the resulting DataFrame.

### Returning a single element 

Getting a single element of a DataFrame is an extension of what we just did. Now that we have a Series (the row), we can then query for one element of that row. 

Notice that when we queried for ```.loc["Gonzo"]```, it returned a Series corresponding to Gonzo's row in the DataFrame. Since this Series has labels (corresponding to Gonzo's values in the table)  we can then use the labels to get one element from Gonzo's row. We can also use position in the Series, which I will show afterwards. 

To get the year of Gonzo's first appearance, we can chain together ```muppetdf.loc["Gonzo"]``` with ```["MuppetYear"]```. This will then look like ```muppetdf.loc["Gonzo"]["MuppetYear"]```. Lukcily, Pandas provides a little "syntactic sugar", so that you can put row then column in the same indexer like so: ```muppetdf.loc["Gonzo","MuppetYear"]```. Since Gonzo was in position 2 and MuppetYear is in position 1, we could also write ```muppetdf.iloc[2,1]```. Note the latter one is _iloc_ since we are using position.

You might be wondering now about whether you can use ```muppetdf["MuppetYear"]``` first to get the entire column and then find Gonzo in that column. You sure can, however, it is worth pointing out that this is considered bad form. Generally speaking, go rows first. It is for this reason that while you can indeed query ```muppetdf["MuppetYear"]["Gonzo"]```, you can neither use the syntactic sugar of ```muppetdf["MuppetYear","Gozno"]``` nor ```muppetdf[1,2]```. It is here that we are reminded that a DataFrame is not considered a completely symmetric data structure. Rather, rows are for cases and columns are for varaibles. 

Of the three ways to query: ```["row_label"]["column_label"]```, ```["row_label","column_label"]``` or ```["row_position","column_position"]```, which one would be considered the most Pythonic? Recall **FREE**. They are all functional. However, one approach is typically more robust: using labels. The labels for rows and columns should not change even if the data varies. Consequently, using labels (```.loc```) is often more robust than position (```.iloc```) since position can change with sort order. 

So, of ```["row"]["column"]``` or ```["row","column"]``` which one would be more efficient? The second one is more efficient, because Pandas treats it as a single query. In the first instance (i.e. ```["row"]["column"]```, you get the row as a new series, then you look inside it. In the second case, you get the row and the column in a single indexer request, no intermediary series necessary. This will not be noticable in these toy DataFrames, but when you are handling large amounts of data, these speed gains can really affect the time it takes to complete tasks. It has a second benefit that we will cover at the end of the chapter in the section on deep versus shallow copying. First lets get through all the ways to get data out, we have one left.

## Returning a slice of data 

The last way of returning data that we should cover is a slice. Slices are incredibly useful for answering questions about data. They allow us powerful ways to filter the data in a DataFrame. There are multiple ways to slice up data in a DataFrame. 

### Slicing by position 
You can use the colon (```:```) to indicate a range of elements. For example, ```muppetdf.iloc[2:]``` will get all the rows from position two onwards. Putting a number after the column would be the position up to, but not including. So ```muppetdf.iloc[:2]``` will get all the rows up to but not including Gonzo in position 2. 

### Boolean slicing
Recall above that we could filter a series using a boolean indexer? DataFrames work the same way. You can evaluate against a column of data and it will return the rows that fit the criteria. So, in our table we could ask for Muppets that are male or Muppets that first appeared after 1967. This means we first focus on a column and ask whether that column meets some criteria. This becomes a series of ```True```, ```False``` statements. If the row corresponds to a ```True``` statement, it is kept. Observe:

In [79]:
muppetdf["MuppetYear"] > 1967

Kermit        False
Miss Piggy     True
Gonzo          True
Name: MuppetYear, dtype: bool

In [80]:
muppetdf[muppetdf["MuppetYear"] > 1967]

           MuppetType  MuppetYear MuppetGender  MuppetDecade
Miss Piggy        Pig        1974       female          1970
Gonzo          booger        1970         male          1970

The boolean query itself just returned a Series of ```True```/ ```False``` elements with an index that corresponds to the DataFrame. We then pipe this into an indexer and out comes only the rows that were true: Miss Piggy, who first appeared in 1974 and Gonzo who first appeared in 1970.

## Deep Copies versus Shallow Copies

When we ask for data from python, sometimes it will give us a 'view' of the original data, this is a "shallow copy". Sometimes it will copy the data to a new location and then return that newly copied data, this is a "deep copy". Understanding when this happens can help for two issues we will encounter when we have to manage larger data sets: 
1. Deep copies need their own memory space in the computer since they are now completely different DataFrames.
2. Altering or deleting data can lead to mishaps when changing data on a subset or copy of the data actually changes the original data. 
3. Altering can also lead to accidents or warnings when you try to change the original data but actually end up working on a copy. 

See in this code here what happens when we try to change the value of Gonzo's type from "unknown" to "weirdo".

In [86]:
# Attempt 1 (which will fail)
muppetdf.loc["Gonzo"]["MuppetType"] = "weirdo"

/Users/crafty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [1]:
# Attempt 2 (which will succeed)
muppetdf.loc["Gonzo","MuppetType"] = "Weirdo"

NameError: name 'muppetdf' is not defined

In the first instance, what happened was that ```mupetdf.loc["Gonzo"]``` is one query that first created a slice. Then ["MuppetType"] was a subquery. So then when we assign a new value, the program was about to change the value of this newly created slice, not the value in the origianl ```muppetdf```. So it threw an error. In the second one, we queried that cell directly and changed the object in the cell from ```"unknown"``` to ```"Weirdo"```.

The original query failed because we created a deep copy by accident. We can see this error work the other way as well, that is, when we give the DataFrame a new label but we are actually changing the original DataFrame. That can be especially dangerous because it won't throw an error, it will just change the data. Observe:

In [93]:
newmuppetdf = muppetdf

newmuppetdf.loc["Kermit","MuppetType"] = "Lizard" #change in newmuppetdf

display(muppetdf.loc["Kermit","MuppetType"]) #it appears in original muppetdf

'Lizard'

Above what happened is we just renamed the original DataFrame. One way to ensure that a newly assigned DataFrame is a copy is to use the ```copy()``` method directly, as in ```newmuppetdf = muppetdf.copy()```. There are other instances where you should be careful about deep versus shallow copies. For now, we can only introduce the topic. Instead of trying to master this right now, I recommend simply being really careful with your data, and checking it at each step. It is easy to have a sneaky error propagate its way through your entire code. Practising _data skepticism_ is critical here. We will say more about this in the chapter on exploring data.

# Summary: DataFrames
    
The DataFrame is a staple of data science and thus social data science. A surprising amount of what is done in data science can be described as getting the right data into a DataFrame from another shape, and aligning that data with other data that we might want to use. The DataFrame allows us to filter, make comparisons, and produce visualisations, both static charts and interactive diagrams. 

The exercise sheet for this chapter focuses on a lot of little exercises to practice building, altering, and querying DataFrames. In the next chapter I will show you how to transform a number of common data structures into a DataFrame. These structures are pervasive on the web. For example, if you want data from Wikipedia, Facebook, Twitter, Reddit, Tumblr, or Google, you'll be reciving data in formats like XML and JSON. They do not look like a DataFrame, but with a little care we can import them into DataFrames and then start asking questions about the data.