# Excel 

Excel is the popular spreadsheet program from Microsoft. Files can be stored as either ```.xls``` or ```.xlsx```. The original ```.xls``` is a bytestream proprietary file format, but the details are handled by PANDAS. The second one was published as an open standard and is in fact a wrapper over a specific format of XML.  

In general, we simply want to import a sheet with:

~~~ python 
<sheet> = pd.read_excel(<file_path>) 
~~~

However, I strongly encourage you to check with the documentation. See: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html
You can also see in this document the trials with trying to remember function names. They've deprecated the 'sheetname' argument, to use 'sheet_name' whereas 'skip_footer' has been deprecated to use 'skipfooter'. So there are many useful arguments there, but they will need a little patience for complicated sheets. 

Excel documents can be pretty complex. Pandas will read the first sheet, but not the others unless specified. It also is not great with headers as can be seen in the worksheet examples. Your mileage may vary, so remember __data skepticism__. Review your data and check it thoroughly before working with it.

In [3]:
import pandas as pd, os 

mt = pd.read_excel("..{0}Data{0}MuppetsTable.xlsx".format(os.sep))
display(mt)

  NameGender Species    First  Appearance
0     Fozzie    Male     Bear        1976
1     Kermit    Male     Frog        1955
2      Piggy  Female      Pig        1974
3      Gonzo    Male  Unknown        1970
4      Rowlf    Male      Dog        1962
5     Beaker    Male   Muppet        1977
6     Janice  Female   Muppet        1975
7      Hilda  Female   Muppet        1976